@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

.location-details-title {
  text-align: left;
  padding-left: 5px;
}

/* Color codes for pollutant levels */
.good {
  color: mediumseagreen;
}

.average {
  color: darkorange;
}

.bad {
  color: crimson;
}

.unknown {
  color: gray;
}

.good .additional {
  background: mediumseagreen;
}

.average .additional {
  background: darkorange;
}

.bad .additional {
  background: crimson;
}

.unknown .additional {
  background: gray;
}

/* CSS for pollutant info card */
.center {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  position: relative;
  width: 350px;
  height: 170px;
  background: #fdfdfd;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
}

.card .general .aqi {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.card .general .aqi-value {
  font-size: 5rem;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.6em;
  font-weight: bold;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  transition: width 0.2s;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
}

.card .additional .smiley-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
  color: white;
}

.card .additional .smiley-card .level {
  top: 15%;
  padding: 0.3rem 0.75rem;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.15);
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .smiley-card .smiley {
  top: 53%;
  font-size: 100px !important;
}

.card .additional .more-info {
  width: 200px;
  left: 150px;
  float: left;
}

.card .additional .updated-at {
  margin-top: 0.7rem;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.6);
}

.card .additional .updated-at div {
  padding: 0.4rem;
}

.card .additional .updated-at div span {
  display: block;
  padding: 0.2rem;
  font-size: 0.7rem;
  font-weight: bold;
}

.card .additional .updated-at .title {
  text-transform: uppercase;
}

.card .additional .updated-at .time {
  letter-spacing: 1px;
}

.card .additional .weather {
  font-size: 0.75rem;
  text-align: left;
}
