.level-icon {
  margin: 0 1rem;
  vertical-align: middle;
  display: inline-block;
}

.short-name {
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

.link {
  font-family: Comfortaa, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  line-height: 1;
  display: block;
}
