.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 5%;
  text-align: center;
}

input {
  padding: 1rem 1.2rem;
  width: 15rem;
  border: 3px solid mediumseagreen;
  outline: none;
  font-weight: bold;
  line-height: 1.5;
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
  max-height: 60%;
  border: 3px solid mediumseagreen;
  border-top: none;
  list-style-type: none;
  text-align: left;
  overflow-y: auto;
}

li {
  padding: 1rem 1.2rem;
  width: 15rem;
  cursor: pointer;
}
