.address-autocomplete-container {
  overflow: hidden;
}

.address-input {
  width: 100%;
  position: relative;
  padding: 1rem 1.2rem;
  line-height: 1.5;
  top: 0;
  left: 0;
  font-weight: bold;
  border: none;
  outline: none;
  border-bottom: 2px solid mediumseagreen;
}

.address-suggestions {
  width: 100%;
  position: absolute;
  top: 3.3rem;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid mediumseagreen;
  border-top: 1px solid mediumseagreen;
  background-color: white;
  list-style-type: none;
  overflow-y: auto;
  z-index: 1;
}

.address {
  padding: 1rem 1.2rem;
  background-color: white;
  cursor: pointer;
}
